@page
@model Hendriz_app.Pages.User.ProductModel
@{
    ViewData["Title"] = "Home page";
}
<div style="background-image: https://assets.adidas.com/images/w_600,f_auto,q_auto/dfb2593201f8422280c7a7fa00e4768a_9366/Busenitz_Pro_Shoes_Black_G48060.jpg" class="page-heading products-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>hehe</h4>
                    <h2>Hendriz</h2>
                </div>
            </div>
        </div>
    </div>
</div>
