@page
@model Hendriz_app.Pages.User.ProductModel
@{
    ViewData["Title"] = "Home page";
}
<div class="page-heading header-text" style="background-image: url(@Model.item.image);height:900px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>