@page
@model Hendriz_app.Pages.Auth.LoginModel
@{
    Layout = "";
    ViewData["Title"] = "Login";
}
<html>
<head>
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/loginform.css" />

    <link rel="stylesheet" href="~/css/fontawesome.css" />

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Hendriz</h1>
                <p>
                    Login to buy products and give review
                </p>
            </div>
        </div>


        <div class="right">
            <h5>Login</h5>
            <p>Don't have an account? <a href="#">Create Your Account</a> it takes less than a minute</p>
            <div class="inputs">
                <input id="username" type="text" placeholder="user name">
                <br>
                <input id="password" type="password" placeholder="password">
            </div>

            <br><br>

            <div class="remember-me--forget-password">
            </div>

            <br>
            <button onclick="authenticate()">Login</button>
        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        function authenticate() {
            $.ajax({
                url: 'Login?handler=Authenticate',
                type: "POST",
                data: {
                    "username": document.getElementById('username').value,
                    "password": document.getElementById('password').value
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                },headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                }
            })
                .done(function (result) {
                    if (result["type"] = 'user') {
                        window.location.replace('/');
                    } else {
                        window.location.replace('/Admin/');
                    }
                });
        }
    </script>





</body>
</html>
